pandas>=2.1
numpy>=1.26
matplotlib>=3.8
seaborn>=0.13
plotly>=5.20
folium>=0.15
scipy>=1.11
statsmodels>=0.14
scikit-learn>=1.4
jupyter>=1.0
ipykernel>=6.28
pyyaml>=6.0.1

# Dev / QA
black>=24.3
isort>=5.13
flake8>=7.0
pytest>=8.0
pre-commit>=3.7
